            ul.y
                {
                    list-style-type: none;
                    overflow: hidden;
                    background-color: #bbb;
                    border-radius: 8px;
                    padding: 2px;
                    margin: 0;
                }
            ul.b
                {
                    list-style-type: none;
                    overflow: hidden;
                    background-color: #ddd;
                    border-radius: 8px;
                    padding: 2px;
                    margin: 0;
                }
            li a
                {
                    display: block;
                    padding: 5px 7px;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 8px;
                }
            li a:hover
                {
                    background-color: #9bf;
                    transition-duration: 0.2s;
                }